@{
    Layout = "_SiteLayout.cshtml";
}

<h1>Even voorstellen..</h1>

<div class="Picture">
   <img class="img" src="fotos/selfie1.jpg" alt="Viool" style=" width:100%;">
</div>
   
<p>Hier vindt u een in Rusland gediplomeerde docente voor viool en altviool. Dat betekent dat er op een klassieke manier les wordt gegeven: met bladmuziek  en vioolmethodes en met warmte en aandacht voor de individuele leerling.</p>

<p>Ik heb een uitgebreide educatieve ervaring en ben daardoor in staat voor iedere leerling een eigen lesprogramma samen te stellen.</p>

<p>Zodoende heeft iedere leerling grote invloed op zijn of haar eigen repertoire (de stukken die gespeeld worden). </p>

<p>De lessen worden in een huiselijke omgeving gegeven, met de mogelijkheid tot het begeleiden op de piano. Ook is het mogelijk naast vioollessen, pianolessen te volgen. </p>

<p>De lessen duren 30 minuten of een uur. Wel is het voor een goed resultaat noodzakelijk dat de lessen regelmatig gehouden worden, bijvoorbeeld 1 keer per week.</p>

<p>Natuurlijk bent u van harte welkom voor een gratis proefles.</p>



