body {
	background-color: #381300;
}


h1 {
	color: white;
	font-family: 'Adobe Devanagari';
	text-align: center;
	font-size: 60px;
}

#container {
	position: relative;
	
}
#navbar {
	background-color: darkred;
	border: solid yellow;

	height: 615px;
	width: 225px;;
	margin-right: 5px;
	margin-top: -20px;
	float: right;
	/*position: static;*/
	overflow: auto;
	z-index: 10;

}

#menubuttons {
	width: 218px;
	color: white;
	position: absolute;
	top: 210px;
}

#menubuttons a {
	text-decoration: none;
	color: white
}

#menubuttons a:hover {
	color:  #990000;
}

ul {
	list-style-type: none;
	margin-right: 37px;
}

p {
	text-decoration: none;
	font-family: 'Adobe Devanagari';
	text-align :center;
	font-size: 27px;
}

#vioolimg {
	max-width: 225px;
	max-height:615px;
	display:block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#header {
	width: 600px;
	height:120px;
	margin: auto;
	margin-left: 290px;
	margin-top: 40px;
	/*background-color:yellow;
	border: solid black;*/
	position: static;

}

#strijkstokimg {
	max-width: 1000px;
	max-height: 30px;
	margin-left: 110px;
	margin-top: -45px;
	display:block;
	/*position: static;*/
	z-index: 5;
}

#content {
	background-color: darkred;
	border: solid yellow;
	height: 468px;
	width: 79%;
	z-index: 5;
	margin: auto;
	margin-left: 20px;
	margin-top: 7px;
	/*position: static;*/
}

#contentp {
	color:white;
	text-align: left;
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
}