@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Account Locked";
}

<hgroup class="title">
    <h1 class="error">@Page.Title.</h1>
    <h2 class="error">Je account is geblokkeerd.</h2>
</hgroup>

<p>
    Je account word gedeblokkeerd na 60 seconden.
    Probeer het dan nog eens.
</p>