@{
    // Set the layout page and page title
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "U bent geregistreerd";
}

@if (!WebSecurity.IsAuthenticated) {
    <hgroup class="title">
        <h1>@Page.Title</h1>
        <h2>U bent nog niet klaar!</h2>
    </hgroup>

    <p>
       Er is een email naar u verzonden met daarin de bevestigingscode.
    </p>
} else {
    <hgroup class="title">
        <h1>@Page.Title.</h1>
        <h2>You are all set.</h2>
    </hgroup>

    <p>
        It looks like you've already confirmed your account and are good to go.
    </p>
}