body{
  background: url(fotos/snaren.jpg) no-repeat center center fixed; 
  -webkit-background-size: inherit;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
    
        
}
.page-header{
	text-align: center;
	color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    
	}
.Picture{
    position: absolute;
    
}

.background{
   background-color: #660000;
    filter: alpha(opacity=60);
  /* IE */
  -moz-opacity: 0.6;
  /* Mozilla */
  opacity: 0.6;
  /* CSS3 */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;   
}
.row content {
}

.content{
	color: white;
    position: relative;
    z-index: 5;
}
.img{
  display: inline-block;
  vertical-align: middle;
  max-height: 648px;
  max-width: 100%;
}

#banner{
	font-family: 'PT Serif', serif,;
	width: 100%;
	height: 150px;
	top: auto;
	
}
#banner h2{
	margin: 30px auto;
	color: black;
	font-size: 50px; line-height: 60px; text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	 text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	vertical-align: middle;
	text-decoration: underline;
	font-family: 'Abril Fatface', cursive;
}
#banner h4{
	
	color: black;
	font-size: 30px; line-height: 10px; text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	 text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	vertical-align: middle;
	text-decoration: underline;
	font-family: 'Abril Fatface', cursive;
}



header {
	font-family: 'Josefin Sans', sans-serif;
	height: auto;
	width: 100%;
	z-index: 10;
}

/*
nav ul{
overflow: hidden;
color: #FFF;
text-align: center;


-webkit-transition: maxheigt 0.4s;
-ms-transition: maxheigt 0.4s;
-moz-transition: maxheigt 0.4s;
-o-transition: maxheigt 0.4s;
transition: maxheigt 0.4s;
}

nav ul li{
	display: inline-block;
	padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
    margin-right: 70px;
    color: #FFF;  
   
    
}
nav ul li:hover{
	
	border-radius: 5px;
    text-decoration: none;
    color: black;  
}

.handle{
	width: 100%;
	text-align: left;
	box-sizing: border-box;
	padding: 15px 10px;
	cursor: pointer;
	display: none;
}


a{
    font-size: 30px; line-height: 10px; text-align: center;
    opacity: .5;
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    opacity: 100;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    
}


@media screen and (max-width: 1305px){
	nav ul{
		max-height: 0;
	}
	.showing{
		max-height: 20em;
	}
	nav ul li{
		box-sizing: border-box;
		width: 100%;
		padding: 15px;
	}
	.handle{
		display: block;
		text-align: right;
	}
}

*/
header h1{
	color: #FFF;
	width: auto;
}

.mainheader{ 
	color: #FFF;
}




#menu {
    /*border: dashed pink;*/
    width: 100%;
    float: none;
    margin: auto;
    text-decoration: none;
    text-align: center;

}

#menu ul {
     list-style-type: none;
     padding: 0;
}

#menu li {
    color: blue;
    text-align: center;
    font-size: 18px;  
}

#menu a {
    color: white;
    text-decoration: none;
    font-family: 'Abril Fatface', cursive;
}

#menu a:visited {
    color: black;
    text-decoration: none;
}

#menu a:hover {
    color: darkred;
    text-decoration: none;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    transition: all 0.5s ease;
}



@media only screen and (min-width: 1187px) {
    #menu {
    /*border: dashed darkblue;*/
    width: 100%;
    float: none;
    margin: auto;
    text-decoration: none;
    text-align: center;

}

#menu li {
    display: inline-block;
    /*border: dashed yellow;*/
    height: 80px;
    padding: 10px 7%;
    font-size: 30px;
    
}

#menu a {
    display: inline-block;
    height: 150px;
    color: rgba(139, 2, 2, 0.0);
    text-decoration: none;
    font-family: 'Abril Fatface', cursive;
}

#menu a:visited {
    color: rgba(139, 2, 2, 0.0);
    text-decoration: none;
}

#menu a:hover {
    color: darkred;
    text-decoration: none;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    transition: all 0.5s ease;
}
}
/*VANAF 975 PIXELS SEGMENT*/

@media only screen and (min-width: 985px) { 
    
    

#menu li {
    font-size: 28px;
}

}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }