@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home";


}

<h2>Welcome!</h2>
<div class="col-md-4 panel panel-default">
    <p> <br>
        <a href="~/Account/Register">- Choose Register to create an account.</a> <br>
        <a href="~/My-list">- Choose My-list to create/modify your Wishlist.</a> <br>
        <a href="~/My-code">- Choose My-code to edit your sharing code</a> <br>
        <a href="~/Wishlist">- Choose Wishlist to view someone's Wishlist</a> <br>
        <br>
    </p>
</div>
<div><img class="img-thumbnail" height="800" width="1000" alt="brideandgroom"src= http://wedding-pictures.onewed.com/match/images/90271/georgia-wedding-photography-country-club-venue-bride-and-groom.original.jpg?1379205273></img></div>
