@{
    Layout = "~/_SiteLayout2.cshtml";
}

<h1>Contactgegevens</h1>

    <p>adres gegevens:</p>
<p>Marina Michailava</p>
<p>van Ostadestraat 39</p>
<p>8932JZ Leeuwarden</p>
<p>T: 0587074003</p>
<p>M: 0617840425</p>
<p>e: marinamuziek@gmail.com</p>
<p>b: NL19 ASNB 0708 2485 51</p>
	<p> t.n.v. Mw M.L. Mikhailava </p>
