@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Fulfill a Wish";
    var db = Database.Open("wishlist");

    var selectedData = db.Query("SELECT * FROM wishlists WHERE ID = @0", Request.QueryString["ID"]);
    var grid = new WebGrid(source: selectedData, rowsPerPage:10);


    var name = "";
    var importance = "";
    var ID = "";

    if(!IsPost){
        if(!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt()) {
            ID = Request.QueryString["ID"];
            var dbCommand = "SELECT * FROM wishlists WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, ID);
        }
        else{
            Validation.AddFormError("No wish was selected.");
            // If you are using a version of ASP.NET Web Pages 2 that's
            // earlier than the RC release, comment out the preceding
            // statement and uncomment the following one.
            //ModelState.AddFormError("No movie was selected.");
        }
    }
    var nobodycheck = db.QueryValue("SELECT wishfulfiller FROM wishlists WHERE ID = @0", Request.QueryString["ID"]);

    if(IsPost){
        Validation.RequireField("name", "You must enter a name");
        
        var nobody = "Nobody";
        name = Request.Form["name"];
        ID = Request.QueryString["ID"];

        if(nobodycheck == nobody){
        if(Validation.IsValid()){
            var updateCommand = "UPDATE wishlists SET wishfulfiller=@0 WHERE ID=@1";
            db.Execute(updateCommand, name, ID);
            Response.Redirect("~/Wishlist?message=3");
        }
        }
        else {
        Response.Redirect("~/Wishlist?message=2");
        }

    }
}

<h2>Edit a Wish</h2>
@Html.ValidationSummary()
    <legend>Wish Information</legend>
<div>
    @grid.GetHtml(
        tableStyle: "grid",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
	    grid.Column("Name"),
        grid.Column("Wishfulfiller")

        )
    )
</div>
<form method="post">
<fieldset>
    <legend>Fulfill This Wish</legend>

    <p><label for="name">Your Name (you may use Anonymous): <br></label>
        <input type="text" name="Name" value="@Request.Form["name"]" />
        @Html.ValidationMessage("name")

    <p><input type="submit" name="buttonSubmit" value="Fulfill Wish!" /></p>
</fieldset>
</form>
<p><a href="~/Wishlist">Return to Wishlist</a></p>
