
/* KLEINSTE SCHERM EERST */

body {
    background: url("../Images/Background.png") no-repeat center center;
    background-size: cover;

}

#header p {
    
    font-size:  25px;
    text-align: center;
    
}

.container {
   /*border: dashed green;*/ 
}

#header h1 {
    font-size: 60px;
    font-family: 'Tahoma', Arial;
}

#header {
    font-family: 'Forte', Arial;
    width: 65%;
    /*border: solid blue;*/
    margin: auto;
    margin-top: 20px;
    text-align: center;
                        /*Links, Onder, Rechts, Boven*/
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    color: darkred;
}

#menu {
    /*border: dashed pink;*/
    width: 100%;
    float: none;
    margin: auto;
    text-decoration: none;
    text-align: center;

}

#menu ul {
     list-style-type: none;
     padding: 0;
}

#menu li {
    color: blue;
    text-align: center;
    font-size: 18px;  
}

#menu a {
    color: white;
    text-decoration: none;
}

#menu a:visited {
    color: white;
    text-decoration: none;
}

#menu a:hover {
    color: darkred;
    text-decoration: none;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    transition: all 0.5s ease;
}



#content {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(139, 2, 2);
    background-color: rgba(139, 2, 2, 0.5);
    
   
    /*border: solid red;*/
    margin-top: 0%
    
}

#content h1 {
    color: white;
    text-align: center;
    font-family: 'Adobe Devanagari', 'Century Gothic';
    font-size: 55px;
}

#content p {
    color:  white;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 10px;
    
}

#profilepic {
    /*border: solid blue;*/
    float: right;
    margin: 10px;
}

@media only screen and (min-width: 1187px) {
    #menu {
    /*border: dashed darkblue;*/
    width: 100%;
    float: none;
    margin: auto;
    text-decoration: none;
    text-align: center;

}

#menu li {
    display: inline-block;
    /*border: dashed yellow;*/
    height: 80px;
    padding: 10px 6.4%;
    font-size: 30px;
    
}

#menu a {
    display: inline-block;
    height: 150px;
    color: rgba(139, 2, 2, 0.0);
    text-decoration: none;
}

#menu a:visited {
    color: rgba(139, 2, 2, 0.0);
    text-decoration: none;
}

#menu a:hover {
    color: darkred;
    text-decoration: none;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    transition: all 0.5s ease;
}
}
/*VANAF 975 PIXELS SEGMENT*/

@media only screen and (min-width: 985px) { 
    
    

#menu li {
    font-size: 28px;
}

}
