body {
	background-color: #381300;
}


h1 {
	color: white;
	font-family: 'Lucida Sans';
	text-align: center;
	font-size: 60px;
}

#container {
	position: relative;
	background-color: pink;
}
#navbar {
	background-color: darkred;
	border: solid red;

	height: 615px;
	width: 225px;;
	margin-right: 5px;
	margin-top: -20px;
	float: right;
	/*position: static;*/
	overflow: auto;
	z-index: 10;

}

#vioolimg {
	max-width: 225px;
	max-height:615px;
	display:block;
	/*position: static;*/
}

#header {
	width: 600px;
	height:120px;
	margin: auto;
	margin-left: 290px;
	margin-top: 40px;
	/*background-color:yellow;
	border: solid black;*/
	position: static;

}

#strijkstokimg {
	max-width: 1000px;
	max-height: 47px;
	margin-left: 290px;
	margin-top: -60px;
	display:block;
	/*position: static;*/
	z-index: 5;
}

#content {
	background-color: green;
	border: solid purple;
	height: 455px;
	width: 1000px;
	z-index: 5;
	margin: auto;
	margin-left: 90px;
	margin-top: 20px;
	/*position: static;*/
}